@import url('https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,100..900;1,100..900&family=Comic+Relief:wght@400;700&family=Cormorant+Garamond:ital,wght@0,300..700;1,300..700&family=Cormorant:ital,wght@0,300..700;1,300..700&family=Gentium+Book+Plus:ital,wght@0,400;0,700;1,400;1,700&family=Jersey+10&family=Libre+Baskerville:ital,wght@0,400..700;1,400..700&family=Lora:ital,wght@0,400..700;1,400..700&family=Special+Elite&display=swap');

:root {
    --nav-txt-clr: black; 
    --nav-btn-hvr-clr: lightgrey; 

    --filter-bar-hvr-clr: #eee;
    --filter-drp-bgr-clr: white; 

    --project-btn-bgr-clr: #eee;
    --project-btn-out-clr: #ccc;
    --project-btn-hvr-clr: lightgrey; 
}

/* Serif */
/* Sans */
/* Monospace */
/* Decorative */

* {
    box-sizing: border-box;
}

main {
    margin: 0 auto; 
    padding: 2rem; 
    min-width: 0;
}

main > * {
    min-width: 0;
}

/* Header */

#header nav {
    display: flex;
    justify-content: center;
    align-items: center; 
}

#header nav a{
    display: flex;
    justify-content: center; 
    align-items: center;

    text-decoration: none; 
    color: var(--nav-txt-clr);
    width: 100%;
    outline: solid thin var(--nav-txt-clr);

    font-size:xx-large;
    font-weight: bolder;
}

#header nav a.selected {
    background-color: var(--nav-btn-hvr-clr);
    outline-color: var(--nav-btn-hvr-clr); 
}

#header nav a:hover {
    background-color: var(--nav-btn-hvr-clr);
}

/* Reusable Elements */
.small-caps {
    font-variant-caps:small-caps;
}

/* Wide screens */
@media (min-width: 1201px) {
    main {
        width: 85%; 
    }
}

/* Moderately narrow screens */
@media (max-width: 1200px) {
    main {
        width: 95%;
    }
}

/* Narrow screens */

@media (max-width: 900px) {
    #header nav a {
        font-size:x-large;
    }
}