:root {
    --nav-txt-clr: black; 
    --nav-btn-hvr-clr: lightgrey; 

    --project-btn-bgr-clr: #eee;
    --project-btn-out-clr: #ccc;
    --project-btn-hvr-clr: lightgrey; 
}

/* Header */

#header nav {
    display: flex;
    justify-content: center;
    align-items: center; 
}

#header nav a{
    display: flex;
    justify-content: center; 
    align-items: center;

    text-decoration: none; 
    color: var(--nav-txt-clr);
    width: 100%;
    height: 3em; 
    outline: solid thin var(--nav-txt-clr);
}

#header nav a.selected {
    background-color: var(--nav-btn-hvr-clr);
    outline-color: var(--nav-btn-hvr-clr); 
}

#header nav a:hover {
    background-color: var(--nav-btn-hvr-clr);
}