#hp-project-highlights > ul{
    list-style: none;
    padding: 0; 
}

main {
    width: 50%;
}

@media (max-width: 1200px) {
    main {
        width: 80%
    }
}

@media (max-width: 800px) {
    main {
        width: 95%;
    }
}

@media (max-width: 600px) {
    main {
        width: 100%;
    }
}