main {
    width: 50%;
}

#hp-intro-p {
    margin-top: 4em;
}
#hp-links {
    margin-bottom: 4em;
}

#hp-project-highlights > ul{
    list-style: none;
    padding: 0; 
}

.project-button {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    
    background-color: transparent;
    border: none;
}

#hp-project-highlights {
    margin-bottom: 4em;
    border: dashed black thin;
    padding: 2em;
}

@media (max-width: 1200px) {
    main {
        width: 80%
    }
}

@media (max-width: 800px) {
    main {
        width: 95%;
    }
}

@media (max-width: 600px) {
    main {
        width: 100%;
    }
}