main {
    display: grid;
    grid-template-columns: 1fr 250px;
    grid-template-areas:
        "header information"
        "body   inspiration";

    gap: 3rem;
    max-width: 1200px;
    margin: 0 auto;
    padding: 2rem;
}

#project-header {
    grid-area: header;
}

#project-information {
    grid-area: information;
}

#project-body {
    grid-area: body;
}

#project-inspiration {
    grid-area: inspiration;
}

/* Wide screens */
@media (min-width: 901px) {
    main {
        width: 85%;
        max-width: none;
        margin: 0 auto;
    }
}

/* Narrow screens */
@media (max-width: 900px) {
    main {
        grid-template-columns: 1fr;
        grid-template-areas:
            "header"
            "information"
            "body"
            "inspiration";
    }
}