html {
    scroll-behavior: smooth;
}

main {
    display: grid;
    grid-template-columns: 1fr 250px;
    grid-template-areas:
        "header     information"
        "contents   inspiration"
        "body      inspiration";

    gap: 3rem;
    max-width: 1200px;
    margin: 0 auto;
    padding: 2rem;
}

#project-header {
    grid-area: header;
}

#project-information {
    grid-area: information;
}

#project-body {
    grid-area: body;
}

#project-body img {
    max-width: 100%; 
}

#project-inspiration {
    grid-area: inspiration;
}

#project-contents {
    grid-area: contents;

    position: sticky;
    top:0;
}

#project-contents-list {
    display: flex;
    gap: 2rem;
    list-style: none;
    padding: 1rem;
    margin: 0;

    background-color: white;
    border-bottom: solid black;
}

/* Wide screens */
@media (min-width: 1201px) {
    main {
        width: 85%;
        max-width: none;
        margin: 0 auto;
        column-gap: 15rem; 
    }
}

/* Moderately narrow screens */
@media (max-width: 1200px) {
    main {
        width: 95%;
        max-width: none;
        margin: 0 auto;
        column-gap: 3rem; 
    }
}

/* Narrow screens */
@media (max-width: 900px) {
    main {
        grid-template-columns: 1fr;
        grid-template-areas:
            "header"
            "contents"
            "information"
            "body"
            "inspiration";
    }
}