html {
    background-color:wheat;

    font-family:"Cormorant", serif;
    font-weight:700;
    font-variant-numeric:oldstyle-nums;
    font-variant-ligatures: common-ligatures discretionary-ligatures historical-ligatures contextual;
}

#project-information, #project-inspiration {
    font-family: "Gentium Book Plus", serif;
    font-size:small;

}

#project-information ul {
    padding-left:0;
    list-style: none;
    ul {
        padding-left:3em;
        list-style:disc;
    }
}

#project-description, footer{
    font-family: "Gentium Book Plus";
    font-style:italic;
    font-size:.9em;
}
#project-role {
    font-family: "Gentium Book Plus", serif;
}

#project-contents-list {
    background-color: blue;
    border:solid black;
    border-bottom:solid white;

    a {
        font-family:"Libre Baskerville", serif;
        color:white;
        text-decoration: none;
    }
}

h1 {
    font-family: "Gentium Book Plus", serif;
    font-size:2.8em;
    /* text-decoration: overline underline; */
    text-align:center;
    letter-spacing:.3em;
    font-variant-caps:small-caps;
    margin-top:4rem;
    margin-bottom:6rem;
}
h3 {
    margin-top: 3em;
    font-family:"Libre Baskerville", serif;
    text-align: center;
}

figure {
    font-family: "Lora", fantasy;   
}

abbr {
    font-variant-caps: small-caps;
    letter-spacing:.1em;
}
i {
    font-family: "Libre Baskerville", serif;
    margin-right:.2em;
    font-size:.8em;
}
.ampersand {
    font-family:"Lora", serif;
    font-style: italic;
    /* letter-spacing: -.15em;
    margin-right:.15em; */
}
#project-body a {
    font-family:"Gentium Book Plus", serif;
    font-weight:bold;
    font-size:.9em;
}

.opening::first-letter, #project-description::first-letter {
    float:left;
    font-size:2.5em;
    padding-top:.1em;
    padding-right:.2em;
}