nav#main-nav{
    a {
        color:white;
        &:hover {
            background-color: transparent;
            text-decoration:underline;
            text-decoration-thickness: .1em;
            text-underline-offset: .2em;
        }
    }
}

#project-contents-list {
    background-color: black;
    outline: solid thick black;
    a {
        text-decoration: none;
        color:white;

        font-family:"Jersey 10", monospace;
        font-size:1.6em;
        letter-spacing:.08em;

        &:hover {
            text-decoration: underline;
            text-decoration-thickness:.1em;
        }
    }
}

body {
    background-color: black;
    color:white;
    font-family:"Special Elite", system-ui;
}

h1, h2, h3 {
    font-family:"Jersey 10", monospace;
}
h1 {
    font-size:4em;
    letter-spacing: .1em;
    word-spacing: .16em;
}
h3 {
    font-size:2em;
    letter-spacing:.02em;
}

#project-body {
    background-color: blanchedalmond;
    color:black;
    outline:solid blanchedalmond thick;
}

#project-body>p, #project-description {
    word-spacing:.28em;
    line-height: 1.4em;
}

figcaption {
    font-variant-caps: small-caps;
    letter-spacing: .06em;
}

dieg{
    font-weight: bold;
}

code, var {
    font-style: normal;
    font-family: 'Courier New', Courier, monospace;
}