body {
    background-color: black;
    color:white;
    font-family:"Special Elite", system-ui;
}

h1, h2, h3 {
    font-family:"Jersey 10", sans-serif;
}

#project-body {
    background-color: blanchedalmond;
    color:black;
    outline:solid blanchedalmond thick
}